<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{300,0},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{129,128},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{258,128},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,256},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{129,256},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{258,256},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,384},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{129,384},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>右箭頭鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{258,384},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>問號鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{119,117}</string>
                <key>textureRect</key>
                <string>{{181,0},{119,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>左箭頭鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,512},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>暫停-繼續遊戲鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,151}</string>
                <key>spriteSourceSize</key>
                <string>{153,151}</string>
                <key>textureRect</key>
                <string>{{258,512},{153,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>暫停-返回鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,151}</string>
                <key>spriteSourceSize</key>
                <string>{153,151}</string>
                <key>textureRect</key>
                <string>{{0,663},{153,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>暫停-重新鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,151}</string>
                <key>spriteSourceSize</key>
                <string>{153,151}</string>
                <key>textureRect</key>
                <string>{{153,663},{153,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未開鎖.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{129,512},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>血條暫停鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>返回鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,111}</string>
                <key>spriteSourceSize</key>
                <string>{112,111}</string>
                <key>textureRect</key>
                <string>{{69,0},{112,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>開始鍵.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,151}</string>
                <key>spriteSourceSize</key>
                <string>{153,151}</string>
                <key>textureRect</key>
                <string>{{306,663},{153,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{459,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3db78233a33046604b83cf55221910:0c773cb616a7eb3949bcd1276a4068c1:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
