<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>O-攻擊-組合.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,188}</string>
                <key>spriteSourceSize</key>
                <string>{231,188}</string>
                <key>textureRect</key>
                <string>{{672,1},{231,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>木框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,611}</string>
                <key>spriteSourceSize</key>
                <string>{635,611}</string>
                <key>textureRect</key>
                <string>{{1,1},{635,611}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>狀態列上小槌子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{44,53}</string>
                <key>textureRect</key>
                <string>{{770,522},{44,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>能量條-底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,32}</string>
                <key>spriteSourceSize</key>
                <string>{485,32}</string>
                <key>textureRect</key>
                <string>{{638,1},{485,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>能量條-紅.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,26}</string>
                <key>spriteSourceSize</key>
                <string>{130,26}</string>
                <key>textureRect</key>
                <string>{{638,522},{130,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>能量條-黃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,32}</string>
                <key>spriteSourceSize</key>
                <string>{138,32}</string>
                <key>textureRect</key>
                <string>{{638,488},{138,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>component.png</string>
            <key>size</key>
            <string>{861,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d38b5819482bad07466ca85c99e4fc04:58ebe2509be1545b17bd35832a5b3c53:a21d0888c6eeb78b3f724ab482ad5d67$</string>
            <key>textureFileName</key>
            <string>component.png</string>
        </dict>
    </dict>
</plist>
