<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CLEAR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,112}</string>
                <key>spriteSourceSize</key>
                <string>{423,112}</string>
                <key>textureRect</key>
                <string>{{139,1},{423,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,111}</string>
                <key>spriteSourceSize</key>
                <string>{269,111}</string>
                <key>textureRect</key>
                <string>{{253,390},{269,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,147}</string>
                <key>spriteSourceSize</key>
                <string>{273,147}</string>
                <key>textureRect</key>
                <string>{{833,333},{273,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,136}</string>
                <key>spriteSourceSize</key>
                <string>{426,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{426,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paused state.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,185}</string>
                <key>spriteSourceSize</key>
                <string>{387,185}</string>
                <key>textureRect</key>
                <string>{{449,1},{387,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,128}</string>
                <key>spriteSourceSize</key>
                <string>{345,128}</string>
                <key>textureRect</key>
                <string>{{1108,333},{345,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>主畫面-標題字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,330}</string>
                <key>spriteSourceSize</key>
                <string>{654,330}</string>
                <key>textureRect</key>
                <string>{{833,1},{654,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩法介紹-標題字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,195}</string>
                <key>spriteSourceSize</key>
                <string>{385,195}</string>
                <key>textureRect</key>
                <string>{{636,1},{385,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>關卡-標題字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,194}</string>
                <key>spriteSourceSize</key>
                <string>{387,194}</string>
                <key>textureRect</key>
                <string>{{253,1},{387,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fonts.png</string>
            <key>size</key>
            <string>{1488,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd035145a765e3464b38cfd2844873c9:779abb2335fe60004f1dd305f416676e:48550de8787b50d3b960f4cebafc2232$</string>
            <key>textureFileName</key>
            <string>fonts.png</string>
        </dict>
    </dict>
</plist>
