<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>咖啡兔兔-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>咖啡兔兔-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{216,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>咖啡兔兔-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{431,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>咖啡兔兔-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{646,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>咖啡兔兔-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{861,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠-分鏡01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1076,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1291,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1506,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1721,1},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{216,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠兔兔-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{431,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠兔兔-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{646,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠兔兔-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{861,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠兔兔-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1076,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠兔兔-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1291,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠博士-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1506,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠博士-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1721,186},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠博士-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠博士-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{216,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠博士-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{431,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠安全帽-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{646,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠安全帽-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{861,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠安全帽-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1076,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠安全帽-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1291,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠安全帽-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1506,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠工程帽-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1721,371},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠工程帽-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠工程帽-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{216,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠工程帽-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{431,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠工程帽-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{646,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{861,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1076,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1291,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1506,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1721,556},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-小-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-小-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{216,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-小-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{431,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-小-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{646,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠忍者-小-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{861,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠盔甲-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1076,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠盔甲-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1291,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠盔甲-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1506,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠盔甲-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1721,741},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>土撥鼠盔甲-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>樹幹-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{216,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>樹幹-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{431,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>樹幹-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{646,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>炸彈-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{861,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>炸彈-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1076,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>炸彈-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1291,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉米-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1506,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉米-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1721,926},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉米-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>石頭-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{216,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>石頭-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{431,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>石頭-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{646,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>粉紅兔兔-分鏡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{861,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>粉紅兔兔-分鏡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1076,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>粉紅兔兔-分鏡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1291,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>粉紅兔兔-分鏡05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1506,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>粉紅兔兔-分鏡06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{213,183}</string>
                <key>textureRect</key>
                <string>{{1721,1111},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mouses.png</string>
            <key>size</key>
            <string>{1935,1295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20afc090c0d2a91246d5e16a23c144d5:279021db1f8e3be95c1303395ef67bd3:f004467121b57895f81b54904621b596$</string>
            <key>textureFileName</key>
            <string>mouses.png</string>
        </dict>
    </dict>
</plist>
