<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A-土撥鼠-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{1,982},{141,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A-土撥鼠-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,118}</string>
                <key>spriteSourceSize</key>
                <string>{91,118}</string>
                <key>textureRect</key>
                <string>{{921,810},{91,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>A-土撥鼠.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,152}</string>
                <key>textureRect</key>
                <string>{{436,614},{200,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B-土撥鼠工程帽-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{1090,203},{141,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>B-土撥鼠工程帽-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,127}</string>
                <key>spriteSourceSize</key>
                <string>{91,127}</string>
                <key>textureRect</key>
                <string>{{792,810},{91,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>B-土撥鼠工程帽.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,161}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{638,179},{200,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C-土撥鼠安全帽-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{1108,346},{141,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C-土撥鼠安全帽-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{114,123}</string>
                <key>textureRect</key>
                <string>{{441,768},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C-土撥鼠安全帽.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,157}</string>
                <key>spriteSourceSize</key>
                <string>{200,157}</string>
                <key>textureRect</key>
                <string>{{840,1},{200,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D-土撥鼠忍者-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{1108,489},{141,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>D-土撥鼠忍者-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,118}</string>
                <key>spriteSourceSize</key>
                <string>{91,118}</string>
                <key>textureRect</key>
                <string>{{1042,783},{91,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D-土撥鼠忍者.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,152}</string>
                <key>textureRect</key>
                <string>{{638,342},{200,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E-土撥鼠忍者-小-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,29}</string>
                <key>spriteSourceSize</key>
                <string>{108,29}</string>
                <key>textureRect</key>
                <string>{{600,909},{108,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>E-土撥鼠忍者-小-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{69,90}</string>
                <key>textureRect</key>
                <string>{{1071,903},{69,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E-土撥鼠忍者-小.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,122}</string>
                <key>textureRect</key>
                <string>{{638,650},{200,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F-土撥鼠兔兔-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{557,768},{141,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>F-土撥鼠兔兔-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,133}</string>
                <key>spriteSourceSize</key>
                <string>{91,133}</string>
                <key>textureRect</key>
                <string>{{597,774},{91,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F-土撥鼠兔兔.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,167}</string>
                <key>spriteSourceSize</key>
                <string>{200,167}</string>
                <key>textureRect</key>
                <string>{{234,614},{200,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G-土撥鼠盔甲-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{203,971},{141,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G-土撥鼠盔甲-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,118}</string>
                <key>spriteSourceSize</key>
                <string>{91,118}</string>
                <key>textureRect</key>
                <string>{{789,903},{91,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G-土撥鼠盔甲.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,152}</string>
                <key>textureRect</key>
                <string>{{840,160},{200,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H-土撥鼠博士-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{426,976},{141,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H-土撥鼠博士-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,118}</string>
                <key>spriteSourceSize</key>
                <string>{91,118}</string>
                <key>textureRect</key>
                <string>{{882,903},{91,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H-土撥鼠博士.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,152}</string>
                <key>textureRect</key>
                <string>{{638,496},{200,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>I-咖啡兔兔-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,19}</string>
                <key>spriteSourceSize</key>
                <string>{85,19}</string>
                <key>textureRect</key>
                <string>{{234,783},{85,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>I-咖啡兔兔-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,143}</string>
                <key>spriteSourceSize</key>
                <string>{88,143}</string>
                <key>textureRect</key>
                <string>{{1042,638},{88,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>I-咖啡兔兔.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,176}</string>
                <key>textureRect</key>
                <string>{{638,1},{200,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J-粉紅兔兔-手手.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,19}</string>
                <key>spriteSourceSize</key>
                <string>{85,19}</string>
                <key>textureRect</key>
                <string>{{975,1000},{85,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J-粉紅兔兔-身體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,143}</string>
                <key>spriteSourceSize</key>
                <string>{88,143}</string>
                <key>textureRect</key>
                <string>{{351,783},{88,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J-粉紅兔兔.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,176}</string>
                <key>textureRect</key>
                <string>{{1,804},{200,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-單玉米.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{351,928},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>K-玉米.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,92}</string>
                <key>textureRect</key>
                <string>{{1042,1},{200,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>L-單石頭.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,97}</string>
                <key>spriteSourceSize</key>
                <string>{94,97}</string>
                <key>textureRect</key>
                <string>{{690,900},{94,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>L-石頭.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,137}</string>
                <key>spriteSourceSize</key>
                <string>{200,137}</string>
                <key>textureRect</key>
                <string>{{840,468},{200,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M-單炸彈.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,111}</string>
                <key>spriteSourceSize</key>
                <string>{81,111}</string>
                <key>textureRect</key>
                <string>{{441,893},{81,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M-炸彈.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,152}</string>
                <key>textureRect</key>
                <string>{{840,314},{200,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-單樹幹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{94,95}</string>
                <key>textureRect</key>
                <string>{{975,903},{94,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-樹幹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,135}</string>
                <key>spriteSourceSize</key>
                <string>{200,135}</string>
                <key>textureRect</key>
                <string>{{840,607},{200,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O-攻擊-組合.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,188}</string>
                <key>spriteSourceSize</key>
                <string>{231,188}</string>
                <key>textureRect</key>
                <string>{{1,614},{231,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O-槌子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,124}</string>
                <key>textureRect</key>
                <string>{{690,774},{100,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O-煙霧.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,146}</string>
                <key>spriteSourceSize</key>
                <string>{165,146}</string>
                <key>textureRect</key>
                <string>{{203,804},{165,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>O-衝擊波.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,46}</string>
                <key>spriteSourceSize</key>
                <string>{231,46}</string>
                <key>textureRect</key>
                <string>{{1042,203},{231,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>使用中的土窟.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,64}</string>
                <key>spriteSourceSize</key>
                <string>{200,64}</string>
                <key>textureRect</key>
                <string>{{1042,436},{200,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>木框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,611}</string>
                <key>spriteSourceSize</key>
                <string>{635,611}</string>
                <key>textureRect</key>
                <string>{{1,1},{635,611}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>狀態列上小槌子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{44,53}</string>
                <key>textureRect</key>
                <string>{{554,911},{44,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>空土窟.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,64}</string>
                <key>spriteSourceSize</key>
                <string>{200,64}</string>
                <key>textureRect</key>
                <string>{{840,744},{200,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mousesComponent.png</string>
            <key>size</key>
            <string>{1147,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03569c09eb4951fbfbcae4ed760a7c6:a68927c4c72b5dae8e5fc239e28ba39c:406109acfe6cd671d5031e2388377ac4$</string>
            <key>textureFileName</key>
            <string>mousesComponent.png</string>
        </dict>
    </dict>
</plist>
